.main-app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50rem;
}

.content-wrapper__card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 30rem;
  background-color: var(--secondary-color);
}

.content-wrapper__card-insert {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 5rem;
  margin-bottom: 1rem;
  background: var(--primary-color);
}

.content-wrapper__card-insert-input {
  font-size: 2rem;
  width: 80%;
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  resize: none;
  outline: none;
  cursor: pointer;
}

.content-wrapper__card-options {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 15rem;
}

.content-wrapper__card-options-label {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 90%;
  font-size: 1.5rem;
  color: var(--white-color);
}

.content-wrapper__card-options-label-password {
  width: 70%;
}

.content-wrapper__card-options-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 2rem;
  width: 30%;
  padding: 0.1rem;
  font-size: 1.5rem;
  outline: none;
}

.content-wrapper__card-options-check {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 2rem;
  padding: 0.1rem;
  font-size: 1.5rem;
  outline: none;
}

.content-wrapper__card-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 90%;
  margin-top: 1rem;
}

.content-wrapper__card-btns-generate-password {
  height: 5rem;
  background: none;
  border: none;
  padding: 1rem;
  font-size: 2.5rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .content-wrapper {
    height: 30rem;
  }

  .content-wrapper__card {
    width: 30%;
  }

  .content-wrapper__card-insert-input {
    cursor: pointer;
  }

  .content-wrapper__card-btns-generate-password {
    cursor: pointer;
  }
}
