.password-generator-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50rem;
}

.card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 30rem;
  background-color: var(--color-secondary);
}

.card__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 5rem;
  margin-bottom: 1rem;
  background: var(--color-primary);
}

.card__form-input {
  font-size: 2rem;
  width: 80%;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  resize: none;
  outline: none;
  cursor: pointer;
}

.card__options {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 15rem;
}

.card__options-label-password {
  width: 70%;
}

.card__options-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 2rem;
  width: 30%;
  padding: 0.1rem;
  font-size: 1.5rem;
  outline: none;
}

.card__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 90%;
  margin-top: 1rem;
}

.card__btn-generate-password {
  height: 5rem;
  background: none;
  border: none;
  padding: 1rem;
  font-size: 2.5rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .card-wrapper {
    height: 30rem;
  }

  .card {
    width: 30%;
  }

  .card__form-input {
    cursor: pointer;
  }

  .card__btn-generate-password {
    cursor: pointer;
  }
}
